@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
}

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #093931;
    max-width: 100%;
    overflow: hidden;
}
.headerList .active a{
    color: #f5d38e;
    
}
.headerList .active{
    border-bottom: 4px solid  #f5d38e;
    border-radius: 0.1rem;
}
.navbar {
    display: flex;
    align-items: center;
}

.login,
.shopping {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.tittle {
    color: #f5d38e;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
}

ul {
    display: flex;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

li {
    display: flex;
    height: 43px;
    padding: 10.5px 18.63px;
    justify-content: center;
    align-items: center;
}

li a:hover {
    color: #f2c66d;
    border-bottom: 3px solid #f2c66d;
}

ul li a {
    text-decoration: none;
    color: white;
}

/* Section section */
.headerSection {
  background-color: #093931;
  display: flex;
  position: relative;
  z-index: 0;
  height: 50rem;
}
.backgroundSection {
  position: absolute;
  width: 100%;
  height: 14rem;
  top: 0;
  left: 0;
  z-index: -2;
} 
.buttonSection .sectionButton {
  text-decoration: none;
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.backgroundSection img {
  width: 100%;
  display: block;
  z-index: -1;
}
.headerSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top:4.81rem ;
  }
.headerSection .section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16rem;
   
}

.headerSection .section .textSection{
    color: #f5d38e;
  width: 537px;
  font-family: Cormorant Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 94px;

}
.headerSection .section .buttonSection{
    height: 3rem;
    width: 12rem;
    border-radius: 26px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0);
    z-index: 2;
    margin-right: 21rem;
    
}
.sectionItem{
    position: relative;
    width: 15.1rem;
    height: 20.1rem;
    top: 25%;
    right: -25%;
}

.ringsImage{
    width: 100%;
    object-fit: cover;
    margin-left: 90%;
    margin-top: -26rem;
    margin-bottom: 57%;
}
.iconButtonImage{
    position: absolute;
    top: -18rem;
    left: 20rem;
}
.headerImage{
    position: relative;
}


/* article */
article {
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 60px;
}

.containerFirst,
.containerSecond,
.containerThird {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
}

.delivery,
.lovemessage,
.locklandscape {
    width: 62px;
    height: 62px;
    margin-bottom: 18px;

}

.containerTitle {
    color: #171A1F;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
}

.containerText {
    width: 278px;
    color: #9095A0;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}


/* Estilos gallery "Our collections" */

.gallerySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 84px;
}

.galleryTitle {
    color: #0D554A;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-top: 48px;
    margin-bottom: 46px;
}

.galleryItems {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.columnItem1,
.columnItem3 {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    position: relative;
}

.item {
    position: relative;
}

.item img {
    width: 360px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 20px;
    display: block;

}

.itemTitle {
    color: #FFF;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 288px;
}

/* Estilos del botón de la galería */
.gallerybutton {
    display: flex;
    justify-content: center;
}

.gallerybutton button {

    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);
    text-align: center;

    /* Tipografía */
    color: #0D554A;
    font-family: Manrope;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}


/* Estilos de los carruseles 1 Y 2 */
.sectionCarousel {
    display: flex;
    flex-direction: row;
    background: #FFF;
}

.sectionCarousel2 {
    display: flex;
    flex-direction: row;
    background: #FAFAFB;
}

.carouselInfo {
    margin-top: 78px;
    margin-left: 132px;
    margin-right: 48px;
}

.carouselTitle {
    color: #0D554A;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 140% */
    width: 264px;
}

.carouselText {
    color: #424955;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    text-align: left;
    margin-top: 12px;
    width: 264px;
}

.carouselButton {
    display: inline-flex;
    padding: 12px 59px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    border: 1px solid #0D554A;
    background: rgba(0, 0, 0, 0.00);

    color: #0D554A;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 24px;
}

.carousel {
    display: flex;
    flex-direction: row;
    margin-top: 72px;
    margin-bottom: 72px;
    overflow: hidden;

}

.carouselItem {
    margin-right: 24px;
    width: 276px;
    height: 410px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}

.carouselItem img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.carouselItem figcaption {
    color: #171A1F;
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: 12px;

}

.carouselItem p {
    color: #171A1F;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-left: 12px;
}



/* Estilos de sección "Our story" */
.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFB;
    width: 100%;
}

.story h2 {
    color: #0D554A;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
    /* 140% */
    margin-top: 3rem;
}

.storyImage {
    position: relative;
    margin-top: 1.25rem;
    margin-left: 8.25rem;
    margin-right: 8.25rem;
    margin-bottom: 4.5rem;

}

.buttonPlayStory {
    border-radius: 1.625rem;
    background: #FFF;
    display: flex;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.65625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.9375rem;
    height: 1.9375rem;
    flex-shrink: 0;
}


/* Estilos de la sección "From the people" */
.peopleContainer {
    background-color: #093931;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.peopleInfo {
    margin-top: 11%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;

}

.peopleTitle {
    margin-right: 10.56rem;
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.25rem;
    width: 100%;
}

.peopleText {
    margin-right: 13.5rem;
    margin-top: 0.75rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
}

.card {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 4.5%;
    margin-bottom: 4.69rem;
    justify-content: center;
}

.peopleCard {
    width: 100%;
    height: 23.4375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: rgba(23, 26, 31, 0.30);
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.peopleImg {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-top: 3.75rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    width: 100%;
}

.cardText {
    color: #FFF;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    width: 100%;
}

.cardName {
    color: #FFF;
    font-family: Manrope;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    margin-top: 1.13rem;
}

.cardCountry {
    color: #FFF;
    font-family: Manrope;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    margin-bottom: 3.69rem;
}

.cardButtons {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    margin-top: -4%;
}

.buttonLeftPeople,
.buttonRightPeople {
    display: flex;
    width: 5%;
    height: auto;
    padding: 0.65625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid #EFFDFA;
    background: rgba(0, 0, 0, 0.00);
}

.buttonLeftPeople {
    margin-right: 16px;
}

.buttonRightPeople {
    margin-right: 36px;
}


/* Estilos del footer */
footer {
    background: #093931;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;

}

.darlingFooter {
    margin-top: 3rem;
}

.darlingFooter h3 {
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.875rem;
}

.darlingFooter p {
    margin-top: 5.81rem;
    margin-bottom: 1.56rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.secondItemsFooter {
    display: flex;
    flex-direction: row;
}

.itemsFooter p,
.itemsFooter2 p {
    margin-top: 0.75rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.itemsFooter {
    margin-right: 100px;
}

.textItemFooter {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

.textItemFooter2 {
    color: #FAFAFB;
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}


.subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subscribeContent {

    display: inline-flex;
    padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
    align-items: center;
    gap: 0.375rem;
    border-radius: 1.125rem 0rem 0rem 1.125rem;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
}

.subscribeText {
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.buttonSubscribe {
    display: inline-flex;
    padding: 0.4375rem 1.46875rem 0.4375rem 1.53125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 1.125rem 1.125rem 0rem;
    border: 1px solid #F2C66D;
    background: #F2C66D;
    color: #6B4A09;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.31rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.mediaIcon {
    margin-right: 1rem;
}

.secondItemsFooter a{
    text-decoration: none;
    color: #FFF;
}

.secondItemsFooter a:hover{
    color: #F5D38E;
}


/* Estilos del modal cart */
#btnCart{
    cursor: pointer;
  }

.modalCart{
    display: flex;
    justify-content: flex-end;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #08080867;
}

.hidden{
    display: none;
}

.show{
    display: flex;
    justify-content: flex-end;
}

.modalCart section{
    width: 50%;
    height: 100%;
    background-color: white;
}

.cartHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
.cartTitle{
    color: #0D554A;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.cartHeader button{
    cursor: pointer;
    width: 30%;
    text-decoration: none;
    background-color: white;
}

.cartFooter{
    display: flex;
    flex-direction: column;
    margin: 5%;

}

.sectionPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartTotal{
    color: #171A1F;
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem
}
.cartButton{
    margin: 5%;
    display: inline-flex;
    padding: 0.5625rem 4.75rem 0.5625rem 4.6875rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.375rem;
    background: #0D554A;
    border:0;
}

.cartButton a{
    text-decoration: none;
    color:"white"
}

.cartButton a:hover{
    color:"white"
}
/* Media queries */

/*Vista móvil */
@media screen and (max-width: 599px) {
  .headerNav {
    flex-direction: column;
 
  }
.header{
    display: flex;
    margin-top: -21rem;
}
  .headerSection .section .textSection{
    
    font-size: 4rem;
    margin-top: 1rem;
  }
  .headerSection {
    flex-direction: column;
    align-items: center;
    height: 63rem;
  }

  .textSection {
    margin: 4rem 0 0 5rem;
    font-size: 4rem;
  }
 
  .headerSection .section .buttonSection{
    margin: 51rem;
    position: absolute;
    
}
  .necklaceWomanImage {
    width: 316px;
    height: 351px;
    margin: 5rem -35rem 0 -12rem;
  }
  .ringsImage {
    width: 194px;
    height: 243px;
    margin: 3rem 14rem -17rem 31rem;
  }

  .iconButtonImage {
    position: absolute;
    z-index: 2;
    margin: 27rem 15rem;
  }

    /* Article  */
    article {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .containerFirst,
    .containerSecond,
    .containerThird {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .delivery,
    .lovemessage,
    .locklandscape {
        width: 80%;
        height: auto;
    }

    .containerText {
        width: 70%;
    }

    /* Carruseles 1 y 2  */
    .sectionCarousel {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .sectionCarousel2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .carouselInfo {
        max-width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }

    .carouselItem{
        max-width: 100%;
    }

    /* "Our collections" */

    .gallerySection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 84px;
    }

    .galleryTitle {
        text-align: center;
    }

    .galleryItems {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .columnItem1,
    .columnItem2,
    .columnItem3 {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .item {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        border-radius: 8px;
    }

    .item img {
        flex-shrink: 0;
        border-radius: 8px;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .itemTitle {
        width: 100%;
        color: #fff;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
    }

    /* Story  */
    .story {
        width: 100%;
    }

    .storyImage {
        width: 90%;
        height: auto;
    }

    .bgImage {
        width: 100%;
        height: auto;
    }

    .buttonPlayStory {
        border-radius: 80%;
        padding: 1%;
        width: 5%;
        height: auto;
    }

    /* From the people  */
    .peopleContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;

    }

    .peopleInfo {
        width: 80%;
        margin-bottom: 5%;
        margin-left: 15%;
    }

    .peopleTitle {
        max-width: 100%;
        margin-right: 0;
    }

    .peopleText {
        width: 100%;
        margin-right: 0;
    }

    .card {
        width: 80%;
        margin-top: 1%;
        margin-bottom: 10%;
    }

    .peopleCard {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }


    .peopleImg {
        width: 100%;
        height: auto;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
    }

    .cardInfo {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .cardText {
        width: 90%;
    }

    .cardName {
        margin-top: 1rem;
    }

    .cardCountry {
        margin-bottom: 1rem;
    }

    .cardButtons {
        margin-top: -5%;
    }

    /* Footer  */
    footer {
        background: #093931;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .darlingFooter {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .darlingFooter h3 {
        width: 100%;
    }

    .darlingFooter p {
        margin-top: 3rem;
        margin-bottom: 1.56rem;
        width: 100%;
    }

    .secondItemsFooter {
        max-width: 100%;
    }

    .itemsFooter p,
    .itemsFooter2 p {
        width: 100%;
    }

    .thirdItemsFooter {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3rem;
    }

    .subscribe {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .subscribeContent {
        width: 70%;
    }

    .subscribeText {
        width: 100%;
    }

    .buttonSubscribe {
        width: 30%;
    }

    .socialMedia {
        width: 100%;
    }

}

/*vista tabletas */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .headerNav {
        flex-direction: column;
     
      }
    .header{
        display: flex;
        margin-top: -20rem;
    }
      .headerSection .section .textSection{

        font-size: 4rem;
        margin-top: 1rem;
      }
      .headerSection {
        flex-direction: column;
        align-items: center;
        height: 63rem;
      }
    
      .textSection {
        margin: 4rem 0 0 5rem;
        font-size: 4rem;
      }
     
      .headerSection .section .buttonSection{
        margin: 51rem;
        position: absolute;
        
    }
      .necklaceWomanImage {
        width: 316px;
        height: 351px;
        margin: 5rem -35rem 0 -12rem;
      }
      .ringsImage {
        width: 194px;
        height: 243px;
        margin: 3rem 14rem -17rem 31rem;
      }
    
      .iconButtonImage {
        position: absolute;
        z-index: 2;
        margin: 27rem 15rem;
      }
/* article */
    article {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .containerFirst,
    .containerSecond,
    .containerThird {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 36px;
    }

    .delivery,
    .lovemessage,
    .locklandscape {
        width: 90%;
        height: auto;
    }

    .containerText {
        width: 50%;
    }

    /*Carruseles  */
    .sectionCarousel {
        width: 100%;
    }

    .sectionCarousel2 {
        width: 100%;
    }

    .carouselInfo {
        width: 100%;
        height: auto;
        margin-left: 15%;
    }

    .carousel {
        display: flex;
        flex-direction: row;
        margin-left: 1%;
    }

    /* "Our collections" */
    .galleryItems {
        flex-direction: column;
        align-items: center;
      }
    
      .columnItem1,
      .columnItem3 {
        margin-top: 3%;
      }
    
      .item img {
        width: 100%; 
        height: auto;
        margin: 10px; 
      }
    
      .itemTitle {
        font-size: 32px; 
        line-height: 36px; 
        margin-top: 80%; 
      }
    
      .gallerybutton button {
        padding: 10px 40px; 
        font-size: 1rem;
        line-height: 1.5rem; 
      }

    /* Story  */
    .story {
        width: 100%;

    }

    .storyImage {
        width: 90%;
        height: auto;
    }

    .bgImage {
        width: 100%;
        height: auto;
    }

    .buttonPlayStory {
        border-radius: 80%;
        padding: 1%;
        width: 5%;
        height: auto;
    }

    /* From the people  */
    .peopleContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .peopleTitle{
        max-width: 70%;
        margin-right: 0;
    }
    .peopleInfo {
        width: 100%;
        margin-left: 15%;
    }

    .peopleText {
        max-width: 100%;
        margin-left: 0;
    }

    .card {
        width: 100%;
        margin-right: 0;
    }

    .peopleCard {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .peopleImg {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .cardInfo {
        width: 100%;
        margin: 3%;
    }

    .cardText {
        width: 100%;
    }

    .cardName {
        margin-top: 2%;
    }

    .cardCountry {
        margin-bottom: 3%;
    }

    /* Footer */
    .darlingFooter {
        margin-right: 10px;
    }

    .itemsFooter,
    .itemsFooter2 {
        margin-right: 10px;
    }


}

/* From the people  */
@media screen and (min-width: 1024px) and (max-width: 1500px) {
    .peopleContainer {
        width: 100%;
    }

    .card {
        width: 60%;
    }
}