@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,600&family=Manrope:wght@400;700&family=Orbitron&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  .navHeader {
    display: flex;
    background-color: #093931;
    flex-wrap: wrap;
    justify-content: space-around;
  }
   .navbar {
    display: flex;
    align-items: center;
  }
  
  .login,
  .shopping {
    width: 20px;
    height: 20px;
    padding: 10px;
    
  }
  h3 {
    z-index: 2;
    color: #f5d38e;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px;
  }
  h3 a{
    text-decoration: none;
    color: #f5d38e;
  }
  ul {
    z-index: 2;
    display: flex;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  li {
    display: flex;
    height: 43px;
    padding: 10.5px 18.63px;
    justify-content: center;
    align-items: center;
  }
  li .navbarMenu:hover {
    color: #f2c66d;
    border-bottom: 3px solid #F2C66D; 
  }
  ul li a {
    text-decoration: none;
    color: white;
  }
   