@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navHeader {
  display: flex;
  background-color: #093931;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.login,
.shopping {
  width: 20px;
  height: 20px;
  padding: 10px;

}

.darling {
  z-index: 2;
  color: #f5d38e;
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

.darlingLink {
  text-decoration: none;
  color: #f5d38e;
}

.darling .navbarMenu {
  text-decoration: none;
  color: #f5d38e;
}

.navbarList {
  z-index: 2;
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.listNavbar {
  display: flex;
  height: 43px;
  padding: 10.5px 18.63px;
  justify-content: center;
  align-items: center;
}

.listNavbar .navbarMenu:hover {
  color: #f2c66d;
  border-bottom: 3px solid #F2C66D;
}

.navbarList .listNavbar .navbarMenu {
  text-decoration: none;
  color: white;
}


  /* Carrusel */
  .sectionCarousel {
    display: flex;
    flex-direction: column;
    background: #FFF;
  }
  
  .carouselTitle {
    color: #0D554A;
    font-family: "Cormorant Garamond";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-left: 10%;
  }
  
  
  .carouselInfo {
    margin-top: 78px;
    margin-left: 132px;
    margin-right: 48px;
  }
  
  .carousel {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 48px;
    overflow: hidden;
    margin-left: 10%;
  
  }
  
  .carouselItem {
    margin-right: 24px;
    width: 276px;
    height: 410px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  }
  
  .carouselItem img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .carouselItem figcaption {
    color: #171A1F;
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: 12px;
  
  }
  
  .carouselItem p {
    color: #171A1F;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-left: 12px;
  }

/* Footer */
  footer {
    background: #093931;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
  
  }
  
  .darlingFooter {
    margin-top: 3rem;
  }
  
  .darlingFooter h3{
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.875rem;
  }
  
  .darlingFooter p {
    margin-top: 5.81rem;
    margin-bottom: 1.56rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }
  
  .secondItemsFooter{
    display: flex;
    flex-direction: row;
  }
  
  .itemsFooter p,
  .itemsFooter2 p {
    margin-top: 0.75rem;
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }
  
  .itemsFooter{
    margin-right: 100px;
  }
  
  .textItemFooter {
    color: #FFF;
    font-family: Cormorant Garamond;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
  }
  
  .textItemFooter2 {
    color: #FAFAFB;
    font-family: Manrope;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
  }
  
  
  .subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .subscribeContent {
  
    display: inline-flex;
    padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
    align-items: center;
    gap: 0.375rem;
    border-radius: 1.125rem 0rem 0rem 1.125rem;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.00);
  }
  
  .subscribeText {
    color: #FFF;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }
  
  .buttonSubscribe {
    display: inline-flex;
    padding: 0.4375rem 1.46875rem 0.4375rem 1.53125rem;
    justify-content: center;
    align-items: center;
    border-radius: 0rem 1.125rem 1.125rem 0rem;
    border: 1px solid #F2C66D;
    background: #F2C66D;
    color: #6B4A09;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
  }
  
  .socialMedia {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.31rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  .mediaIcon {
    margin-right: 1rem;
  }
  
  .secondItemsFooter a {
    text-decoration: none;
    color: #FFF;
  }
  
  .secondItemsFooter a:hover {
    color: #F5D38E;
  }


  /* Media queries */

/*Vista móvil */
  @media screen and (max-width: 599px){
    /* Footer  */
    footer {
      background: #093931;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding-left: 1rem;
      padding-right: 1rem;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }

  .darlingFooter {
      max-width: 100%;
      display: flex;
      flex-direction: column;
  }

  .darlingFooter h3 {
      width: 100%;
  }

  .darlingFooter p {
      margin-top: 3rem;
      margin-bottom: 1.56rem;
      width: 100%;
  }

  .secondItemsFooter {
      max-width: 100%;
  }

  .itemsFooter p,
  .itemsFooter2 p {
      width: 100%;
  }

  .thirdItemsFooter {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3rem;
  }

  .subscribe {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      width: 100%;
  }

  .subscribeContent {
      width: 70%;
  }

  .subscribeText {
      width: 100%;
  }

  .buttonSubscribe {
      width: 30%;
  }

  .socialMedia {
      width: 100%;
  }
  }

  /*vista tabletas */
@media screen and (min-width: 600px) and (max-width: 1023px){
  /* Footer */
  .darlingFooter {
    margin-right: 10px;
}

.itemsFooter,
.itemsFooter2 {
    margin-right: 10px;
}
}