@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #093931;
}

.navbar {
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  width: 500px;
  height: 300px;
  width: 276px;
  height: 320px;
  overflow: hidden;
}

.login,
.shopping {
  width: 20px;
  height: 20px;
  padding: 10px;

}

h3 {
  z-index: 2;
  color: #f5d38e;
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h3 a {
  text-decoration: none;
  color: #f5d38e;
}

ul {
  z-index: 2;
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

li {
  display: flex;
  height: 43px;
  padding: 10.5px 18.63px;
  justify-content: center;
  align-items: center;
}

li .navbarMenu:hover {
  color: #f2c66d;
  border-bottom: 3px solid #F2C66D;
}

ul li a {
  text-decoration: none;
  color: white;
}

.headerList .active a {
  color: #f5d38e;

}

.headerList .active {
  border-bottom: 4px solid #f5d38e;
  border-radius: 0.1rem;
}

/* main */
main {
  background-color: #093931;
  padding-bottom: 147px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding-top: 146px;
  padding-bottom: 24px;
  color: #f5d38e;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 62px;
  font-weight: 400;
  line-height: 82px;
  /* 132.258% */
}

.backgroundMain {
  position: absolute;
  top: 0;
  left: 0;

}

.backgroundMain img {
  width: 100%;
  display: block;
  z-index: -1;
}

.searchBar {
  display: flex;
  overflow: hidden;
  border-radius: 26px;
  border: 1px solid #f8f9fa;
  background: #fff;
  width: 757px;
  z-index: 2;

}

button {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button img {
  width: 24px;
  height: 24px;
}

input {
  border: none;
  padding: 10px;
  width: 200px;
  outline: none;
  background-color: #fff;
}

/* section */


.headerMenu.active .separator {
  display: none;
  /* Oculta los separadores en pantallas pequeñas cuando el menú está activo */
}

.SectionMenu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 4rem;
  margin-bottom: 4rem;

}

.headerMenu {
  display: flex;
  width: 148.6px;
  height: 38px;
  padding: 0rem 33.5rem 0.43rem 0rem;
  align-items: flex-start;
  flex-shrink: 0;
}

.headerMenu .bodyMenu .list {
  color: #0d554a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}
.listDropdown{
  background-color: red;
  margin-top: auto;
}
.bodyMenu:hover .list {

  border-radius: 19px;
  background: #0d554a;
  color: #ffffff;
  display: flex;
  padding: 0.5rem 3rem 0.5rem 3rem;
  justify-content: center;
}

.SectionMenu .list,
.separator {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.separator {
  width: 1px;
  height: 19px;
  flex-shrink: 0;
  background: #9aefe2;
  margin: 0 5px;
}

.dropdown {
  color: #171a1f;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.dropdownPrice {
  border-bottom: 2px solid #9095A0;
  text-decoration: none;
  width: 103px;
  height: 2rem;
}

.dropdown .dropdownPrice {
  color: #171A1F;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
  display: none;
}

.listDropdown {
  color: #171a1f;
}

.listDropdown:hover {
  color: #f2c66d
}

.dropdown:hover .dropdownMenu {
  display: block;

}

/* Galeria */
.listProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.62rem;
}

.products,
.productsOne {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 20rem);
    display: grid;

}
.productsOne figure,
.products figure,
.products2 figure,
.products3 figure {
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}
.productsOne img,
.products img,
.products3 img {
  width: 321px;
  height: 340px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.products2 img{
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.products2{
  width: 576px;
  height: 826px;
}


.infoProduct {
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.productName,
.infoProduct a {
  color: #171A1F;
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  text-decoration: none;
}

.productPrice {
  color: #171A1F;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
}

.products3 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1.12rem;

}

/* pagination gallery */
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
.pagination a{
  color: #9095A0;
font-family: Manrope;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; 
text-decoration:none;
}
.pagination a.page:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0D554A;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #0D554A;
font-family: Manrope;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 162.5% */
}

/* article */
article {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}

.containerFirst,
.containerSecond,
.containerThird {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
}

.delivery,
.lovemessage,
.locklandscape {
  width: 62px;
  height: 62px;
  margin-bottom: 18px;

}

.containerTitle {
  color: #171A1F;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.containerText {
  width: 278px;
  color: #9095A0;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

/* Estilos del footer */
footer {
  background: #093931;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-evenly;

}

.darlingFooter {
  margin-top: 3rem;
}

.darlingFooter h3 {
  color: #F5D38E;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem;
}

.darlingFooter p {
  margin-top: 5.81rem;
  margin-bottom: 1.56rem;
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.secondItemsFooter {
  display: flex;
  flex-direction: row;
}

.itemsFooter p,
.itemsFooter2 p {
  margin-top: 0.75rem;
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.itemsFooter {
  margin-right: 100px;
}

.textItemFooter {
  color: #FFF;
  font-family: Cormorant Garamond;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.textItemFooter2 {
  color: #FAFAFB;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}


.subscribe {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subscribeContent {

  display: inline-flex;
  padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
  align-items: center;
  gap: 0.375rem;
  border-radius: 1.125rem 0rem 0rem 1.125rem;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.00);
}

.subscribeText {
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.buttonSubscribe {
  display: inline-flex;
  padding: 0.4375rem 1.46875rem 0.4375rem 1.53125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 1.125rem 1.125rem 0rem;
  border: 1px solid #F2C66D;
  background: #F2C66D;
  color: #6B4A09;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.31rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.mediaIcon {
  margin-right: 1rem;
}

.secondItemsFooter a{
  text-decoration: none;
  color: #FFF;
}

.secondItemsFooter a:hover{
  color: #F5D38E;
}

/* Media queries */

/*Vista móvil */
@media screen and (max-width: 599px) {
  
  .navHeader {
    flex-direction: column;
  }

  .searchBar {
    width: 25rem;
  }


  .bodyMenu,
  .bodyDropdown {
    text-align: center;
  }

  .headerMenu {
    margin-right: -37rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;
  }

  .separator {
    display: none;
  }

  .dropdownMenu {
    position: static;
  }

  .dropdownPrice {
    text-align: center;
  }

  .list,
  .listDropdown {
    display: block;
  }

  .listImage {
    margin-top: 20rem;

  }

  .articleImg {
    width: 8rem;
    flex-direction: column;
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  /* Galeria */
  .listProducts {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 1.5rem;
  }

  .products {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .products img,
  .products2 img,
  .products3 img {
    width: 100%;
  }

  .products img,
  .products2 img,
  .products3 img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .productPrice {
    color: #171A1F;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  }

  .seccion {
    flex-direction: column;
  }

  .products3 {
    flex-direction: column;
  }

  /* Article  */
  .article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 80%;
    height: auto;
  }

  .containerText {
    width: 70%;
  }


  /* Footer  */
  footer {
    background: #093931;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .darlingFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .darlingFooter h3 {
    width: 100%;
  }

  .darlingFooter p {
    margin-top: 3rem;
    margin-bottom: 1.56rem;
    width: 100%;
  }

  .secondItemsFooter {
    width: 100%;
  }

  .itemsFooter p,
  .itemsFooter2 p {
    width: 100%;
  }

  .thirdItemsFooter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    ;
  }

  .subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .subscribeContent {
    width: 70%;
  }

  .subscribeText {
    width: 100%;
  }

  .buttonSubscribe {
    width: 30%;
  }

  .socialMedia {
    width: 100%;
  }

}

/*Vista tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .navHeader {
    flex-direction: column;
  }

  .searchBar {
    width: 25rem;
  }


  .bodyMenu,
  .bodyDropdown {
    text-align: center;
  }

  .headerMenu {
    margin-right: -37rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;
  }

  .separator {
    display: none;
    /* Oculta los separadores en pantallas pequeñas */
  }

  .dropdownMenu {
    position: static;
    /* Cambia la posición para que aparezca debajo del elemento padre */
  }

  .dropdownPrice {
    text-align: center;
  }

  .list,
  .listDropdown {

    display: block;
  }

  .listImage {
    margin-top: 20rem;

  }

  .articleImg {
    width: 8rem;
    flex-direction: column;
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  /* Galeria */
  .listProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2rem;
  }

  .products {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 0.5rem;
  }

  .products figure img,
  .products2 figure img,
  .products3 figure img {
    width: 100%;
  }

  .seccion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
  }

  .products3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1.5rem;
    margin-bottom: 1.12rem;
  }

  /* article */
  article {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 90%;
    height: auto;
  }

  .containerText {
    width: 50%;
  }

  /* Footer */
  .darlingFooter {
    margin-right: 10px;
  }

  .itemsFooter,
  .itemsFooter2 {
    margin-right: 10px;
  }


}