@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #093931;
}

.navbar {
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  width: 500px;
  height: 300px;
  width: 276px;
  height: 320px;
  overflow: hidden;
}

.login,
.shopping {
  width: 20px;
  height: 20px;
  padding: 10px;
}

h3 {
  color: #f5d38e;
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  z-index: 2;
}

h3 a {
  text-decoration: none;
  color: #f5d38e;
}

ul {
  z-index: 2;
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.headerList {
  list-style-type: none;
  padding: 0;
  display: flex;
  
}

.listNavbar {
  color: white;
  display: flex;
  height: 43px;
  padding: 10.5px 18.63px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #093931;
  
}

.listNavbar:hover {
  color: #f2c66d;
  border-bottom: 3px solid #f2c66d;
}
.headerList .active {
  border-bottom: 4px solid #f5d38e;
  border-radius: 0.1rem;
}

.iconHeader {
  z-index: 2;
}

/* main */
main {
  background-color: #093931;
  padding-bottom: 147px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  padding-top: 146px;
  padding-bottom: 24px;
  color: #f5d38e;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 62px;
  font-weight: 400;
  line-height: 82px;
  /* 132.258% */
}

.backgroundMain {
  position: absolute;
  top: 0;
  left: 0;
}

.backgroundMain img {
  width: 100%;
  display: block;
  z-index: -10;
}

.searchBar {
  display: flex;
  overflow: hidden;
  border-radius: 26px;
  border: 1px solid #f8f9fa;
  background: #fff;
  width: 757px;
  z-index: 2;
}

button {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button img {
  width: 24px;
  height: 24px;
}

input {
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;
  background-color: #fff;
}

/* section */

.headerMenu.active .separator {
  display: none;
  /* Oculta los separadores en pantallas pequeñas cuando el menú está activo */
}
li {
  display: flex;
  height: 43px;
  padding: 10.5px 18.63px;
  justify-content: center;
  align-items: center;
}

.SectionMenu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.headerMenu {
  display: flex;
  width: 148.6px;
  height: 38px;
  padding: 0rem 33.5rem 0.43rem 0rem;
  align-items: flex-start;
  flex-shrink: 0;
}

.headerMenu .bodyMenu .list {
  color: #0d554a;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.headerMenu .list.categoria-seleccionada {
  border-radius: 19px;
  background: #0d554a;
  color: #ffffff;
  display: flex;
  padding: 0.5rem 3rem 0.5rem 3rem;
  justify-content: center;
}

.bodyMenu:hover .list {
  border-radius: 19px;
  background: #0d554a;
  color: #ffffff;
  display: flex;
  padding: 0.5rem 3rem 0.5rem 3rem;
  justify-content: center;
}

.SectionMenu .list,
.separator {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.separator {
  width: 1px;
  height: 19px;
  flex-shrink: 0;
  background: #9aefe2;
  margin: 0 5px;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: #171a1f;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.dropdownBtn {
  color: #171a1f;
  padding: 10px;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 1rem;
}

.dropdownContent a {
  color: #171a1f;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f2c66d;
  border-radius: 1rem;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownPrice {
  border-bottom: 2px solid #9095a0;
  text-decoration: none;
  width: 103px;
  height: 2rem;
}

/* Galeria */
.listProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.62rem;
}

.products,
.productsOne {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}
.productsOne figure,
.products figure,
.products2 figure,
.products3 figure {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07),
    0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}
.productsOne img,
.products img,
.products3 img {
  width: 300px;
  height: 340px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.products2 img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: auto;
}

.products2 {
  width: 576px;
  height: 826px;
}

.infoProduct {
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.productName,
.infoProduct {
  color: #171a1f;
  font-family: "Cormorant Garamond";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  text-decoration: none;
  cursor: pointer;
}

.productPrice {
  color: #171a1f;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.seccion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
}

.products3 {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1.12rem;
}

/* pagination gallery */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
.pagination a {
  color: #9095a0;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  text-decoration: none;
}
.pagination a.page:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0d554a;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  color: #0d554a;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem; /* 162.5% */
}

/* article */
article {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}

.containerFirst,
.containerSecond,
.containerThird {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
}

.delivery,
.lovemessage,
.locklandscape {
  width: 62px;
  height: 62px;
  margin-bottom: 18px;
}

.containerTitle {
  color: #171a1f;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.containerText {
  width: 278px;
  color: #9095a0;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Estilos del footer */
footer {
  background: #093931;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-evenly;
}

.darlingFooter {
  margin-top: 3rem;
}

.darlingFooter h3 {
  color: #f5d38e;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem;
}

.darlingFooter p {
  margin-top: 5.81rem;
  margin-bottom: 1.56rem;
  color: #fff;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.secondItemsFooter {
  display: flex;
  flex-direction: row;
}

.itemsFooter p,
.itemsFooter2 p {
  margin-top: 0.75rem;
  color: #fff;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.itemsFooter {
  margin-right: 100px;
}

.textItemFooter {
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.textItemFooter2 {
  color: #fafafb;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.subscribe {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subscribeContent {
  display: inline-flex;
  padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
  align-items: center;
  gap: 0.375rem;
  border-radius: 1.125rem 0rem 0rem 1.125rem;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
}

.subscribeText {
  color: #fff;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.buttonSubscribe {
  display: inline-flex;
  padding: 0.4375rem 1.46875rem 0.4375rem 1.53125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 1.125rem 1.125rem 0rem;
  border: 1px solid #f2c66d;
  background: #f2c66d;
  color: #6b4a09;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.31rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.mediaIcon {
  margin-right: 1rem;
}

.secondItemsFooter a {
  text-decoration: none;
  color: #fff;
}

.secondItemsFooter a:hover {
  color: #f5d38e;
}

/* Estilos del modal cart */
#btnCart {
  cursor: pointer;
}

.modalCart {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08080867;
  z-index: 10000;
}

.hidden {
  display: none;
}

.show {
  display: flex;
  justify-content: flex-end;
  /* z-index: 10; */
}


.modalCart section {
  width: 50%;
  height: 100%;
  background-color: white;
  overflow-y: auto
}
.cartHeader {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 5% 1% 5%;
  position: sticky;
  top: 0; 
  /* z-index: 1;  */
}


.cartTitle {
  color: #0d554a;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.btnExit {
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border: white;
}

.cartFooter {
  display: flex;
  flex-direction: column;
  margin: 1% 5% 1% 5%;
  position: sticky;
  bottom: 0; 
  z-index: 1;  
  background-color: white
}


.sectionPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartTotal {
  color: #171a1f;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.cartButton {
  margin: 5%;
  display: inline-flex;
  padding: 0.5625rem 4.75rem 0.5625rem 4.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  background: #0d554a;
  border: 0;
}

.cartButton a {
  text-decoration: none;
  color: white;
}

.cartButton a:hover {
  color: "white";
}

.cartDivisor {
  border-bottom: 1px solid #f3f4f6;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*estilos del body donde se pintan los productos del carrito  */
.cartBody {
  display: flex;
  flex-direction: column;
  padding: 1% 5% 1% 5%;
  align-items: center;
}
.carritoVacio{
  font-size: 2rem;
  color: #0d554a;

}

.cartBody .productos:last-child .cartDivisor {
  display: none;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cartProductImg {
  width: 30%;
}

.cartProductImg img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.infoProducto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemNombre {
  color: black;
  font-family: Cormorant Garamond;
  font-weight: 900;
  line-height: 30px;
}

.itemCodigo{
  color: #323842;
  font-family: Manrope;
  font-size: 100%;
  font-style: normal;
  line-height: 26px;
}

.itemPrecio{
  color: #b37d10;
    font-family: Manrope;
    font-size: 100%;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}
.itemTalla{
  color: #323842;
  font-family: Manrope;
  font-size: 100%;
  font-style: normal;
  line-height: 26px;
}

.editProducto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
}

.cantidadCartBtn {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #b37d10;
  background-color: #ffffff;
  border-radius: 25%;
  cursor: pointer;
}

.cantidadCart {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424955;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
/* Media queries */

/*Vista móvil */
@media screen and (max-width: 599px) {
  body {
    overflow-x: hidden;
  }
  li {
    padding: 9.5px 5.629999999999999px;
  }
  .headerNav {
    flex-direction: column;
  }

  .navHeader {
    flex-direction: column;
  }

  .searchBar {
    width: 20rem;
  }

  h1 {
    margin-top: -6rem;
  }
  .bodyMenu,
  .bodyDropdown {
    text-align: center;
  }

  .headerMenu {
    margin-right: -37rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;
  }
  .SectionMenu {
    margin-top: -16rem;
  }
  .separator {
    display: none;
  }

  .dropdownPrice {
    text-align: left;
  }

  .listDropdown {
    margin-bottom: 15rem;
    text-align: left;
  }

  .list {
    display: block;
    margin-top: 35rem;
  }

  .listImage {
    margin-top: 20rem;
  }

  .articleImg {
    width: 8rem;
    flex-direction: column;
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  /* Galeria */
  .listProducts {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 1.5rem;
    margin-top: 23rem;
  }

  .products,
  .productsOne {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .products img,
  .productsOne img,
  .products3 img {
    width: 100%;
  }
  .products2 img {
    width: 300px;
  }
  .products2 {
    width: 300px;
    height: 100%;
  }
  .products img,
  .productsOne img,
  .products3 img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .products figure img,
  .productsOne figure img {
    width: 300px;
  }

  .productPrice {
    color: #171a1f;
    font-family: Manrope;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  }

  .seccion {
    flex-direction: column;
  }

  .products3 {
    flex-direction: column;
  }

  /* Article  */
  .article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 80%;
    height: auto;
  }

  .containerText {
    width: 70%;
  }

  /* Footer  */
  footer {
    background: #093931;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .darlingFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .darlingFooter h3 {
    width: 100%;
  }

  .darlingFooter p {
    margin-top: 3rem;
    margin-bottom: 1.56rem;
    width: 100%;
  }

  .secondItemsFooter {
    width: 100%;
  }

  .itemsFooter p,
  .itemsFooter2 p {
    width: 100%;
  }

  .thirdItemsFooter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
  }

  .subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .subscribeContent {
    width: 70%;
  }

  .subscribeText {
    width: 100%;
  }

  .buttonSubscribe {
    width: 30%;
  }

  .socialMedia {
    width: 100%;
  }
}

/*Vista tablet */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  .navHeader {
    flex-direction: column;
  }

  .searchBar {
    width: 25rem;
  }

  .bodyMenu,
  .bodyDropdown {
    text-align: center;
  }

  .headerMenu {
    margin-right: -37rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 13rem;
  }

  .separator {
    display: none;
    /* Oculta los separadores en pantallas pequeñas */
  }

  .dropdownMenu {
    position: static;
    /* Cambia la posición para que aparezca debajo del elemento padre */
  }

  .dropdownPrice {
    text-align: center;
  }

  .list,
  .listDropdown {
    display: block;
  }

  .listImage {
    margin-top: 20rem;
  }

  .articleImg {
    width: 8rem;
    flex-direction: column;
    display: flex;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  /* Galeria */
  .listProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2rem;
  }

  .products,
  .productsOne {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 0.5rem;
  }

  .products figure img,
  .productsOne figure img,
  .products3 figure img {
    width: 100%;
  }
  .products img,
  .productsOne img,
  .products3 img {
    width: 50%;
    height: 70%;
  }
  .products2 {
    display: none;
  }
  .seccion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
  }

  .products3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1.5rem;
    margin-bottom: 1.12rem;
  }

  /* article */
  article {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 90%;
    height: auto;
  }

  .containerText {
    width: 50%;
  }

  /* Footer */
  .darlingFooter {
    margin-right: 10px;
  }

  .itemsFooter,
  .itemsFooter2 {
    margin-right: 10px;
  }
}
