@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,600&family=Manrope:wght@400;700&family=Orbitron&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navHeader {
  display: flex;
  background-color: #093931;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.login,
.shopping {
  width: 20px;
  height: 20px;
  padding: 10px;

}

.darling {
  z-index: 2;
  color: #f5d38e;
  font-family: Cormorant Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

.darlingLink {
  text-decoration: none;
  color: #f5d38e;
}

.darling .navbarMenu {
  text-decoration: none;
  color: #f5d38e;
}

.navbarList {
  z-index: 2;
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}

.listNavbar {
  display: flex;
  height: 43px;
  padding: 10.5px 18.63px;
  justify-content: center;
  align-items: center;
}

.listNavbar .navbarMenu:hover {
  color: #f2c66d;
  border-bottom: 3px solid #F2C66D;
}

.navbarList .listNavbar .navbarMenu {
  text-decoration: none;
  color: white;
}



/* div luxury */
.LuxuryDivList {
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
  margin: 2rem 5rem;
}

.home {
  margin-right: 1rem;

}

.arrow {
  width: 16px;
  height: 16px;
  margin-right: 1rem;

}

.shop {
  margin-right: 1rem;
}

/* luxurySection */
.luxurySection {
  display: flex;
  justify-content: space-evenly;


}

.imageLuxurySection {
  display: flex;
}

.luxuryImage img {
  margin-top: 1rem;
  /* Ajusta el espacio entre las imágenes */
}

.luxuryImage {
  display: grid;
}

.img {
  margin: 1rem 1rem;
  width: 477px;
  height: 636px;
}

.image1 {
  border: 1px solid #0D554A;
}

.image1,
.image4 {
  width: 64px;
  height: 82px;
  border-radius: 4px;
}

.heart {
  position: absolute;
  margin: 2rem -4rem;
}

/*  luxury chartms*/

.headerSection {
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.code {
  color: #323842;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.price {
  color: #B37D10;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.color,
.quantity {
  color: #424955;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 1rem;
}

.opcionColor {
  display: flex;

}

.grey {
  background-color: #DEE1E6;
  ;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.rose {
  border: 1px solid #0D554A;
  background-color: #E6AE87;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 1rem;
}

.ringSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size {
  margin-top: 1rem;
  color: #424955;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;


}

.sizeOption {
  color: #424955;
  text-align: right;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration-line: underline;
}

.squareContainer {
  display: flex;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 1px solid #565E6C;
  border-radius: 4px;
  background: #FFF;

}

.firstSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #8F640C;
  background: #FFF;
  color: #8F640C;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.squareQuantityLuxury {
  display: flex;
}

.squareQuantity {
  border-radius: 4px;
  background: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 4px;
}

.buttonTrolley {
  margin-top: 1.5rem;
  display: inline-flex;
  padding: 12px 72.5px;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  border-radius: 26px;
  border: 1px solid #0D554A;
  background: #FFF;
}

.addToCart {
  width: 24px;
  height: 24px;
}

.cartUrl {
  color: #0D554A;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.buttonBuy {
  margin-top: 1.5rem;
  display: inline-flex;
  padding: 12px 72.5px;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  border-radius: 26px;
  border: 1px solid #0D554A;
  background: #FFF;
  border-radius: 26px;
  background: #0D554A;
}

.buyNow {
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  line-height: 28px;
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: space-evenly;
}


.dropdownPrice {
  color: #171A1F;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

}


.dropdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Puedes ajustar esto según tus preferencias */
}

.dropdown {
  color: #171a1f;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: calc(50% - 10px);
  /* El 10px es para el margen entre los dropdowns */
  margin: 2rem 0.3rem 2rem;
}

.dropdownPrice,
.listDropdown {
  position: relative;
  text-decoration: none;

}

.dropdownPrice::after,
.listDropdown::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 12rem;
  height: 1px;
  background-color: #171A1F;
  /* Color de la línea, ajusta según sea necesario */
}

.dropdownMenu {

  position: absolute;
  display: none;
}

.listDropdown {
  color: #171A1F
}

.listDropdown:hover {
  color: #f2c66d
}

.dropdown:hover .dropdownMenu {
  display: block;

}


/* article */
.articleLuxury {
  display: flex;
  justify-content: space-around;


}

.articleLuxurydiv {
  width: 80rem;
  height: 50rem;
  display: flex;
  background: #FFF;
  box-shadow: 0px 3px 6px 0px rgba(18, 15, 40, 0.12);
  flex-direction: column;
  align-items: center;
  


}

.descriptionArticle {
  color: #323842;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.headerArticle {
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.infoArticle {
  width: 1032px;
  color: #323842;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.redRingImg {
  width: 1032px;
  height: 581px;
}

.iconButtonArticle {
  position: absolute;
  display: flex;
  width: 52px;
  height: 52px;
  margin: -19.5rem 29rem 8rem 33rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* section delivery */
/* article */
article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 60px;
}

.containerFirst,
.containerSecond,
.containerThird {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 36px;
}

.delivery,
.lovemessage,
.locklandscape {
  width: 62px;
  height: 62px;
  margin-bottom: 18px;

}

.containerTitle {
  color: #171A1F;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.containerText {
  width: 278px;
  color: #9095A0;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}



/* section luxury */
.sectionCarousel {
  display: flex;
  flex-direction: column;
  background: #FFF;
}

.carouselTitle {
  color: #0D554A;
  font-family: "Cormorant Garamond";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  margin-left: 10%;
}


.carouselInfo {
  margin-top: 78px;
  margin-left: 132px;
  margin-right: 48px;
}

.carousel {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 48px;
  overflow: hidden;
  margin-left: 10%;

}

.carouselItem {
  margin-right: 24px;
  width: 276px;
  height: 410px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
}

.carouselItem img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.carouselItem figcaption {
  color: #171A1F;
  font-family: Cormorant Garamond;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-left: 12px;

}

.carouselItem p {
  color: #171A1F;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-left: 12px;
}


/* Estilos de la sección "From the people" */
.peopleContainer {
  margin-top: 48px;
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background: #093931;
  display: flex;
  flex-direction: row;
}

.peopleInfo {
  width: 100%;
  margin-top: 11%;
  margin-left: 8%;
}

.peopleTitle {
  margin-right: 10.56rem;
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.25rem;
}

.peopleText {
  margin-right: 13.5rem;
  margin-top: 0.75rem;
  color: #fff;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4.5%;
  margin-right: 8.25rem;
  margin-bottom: 4.69rem;
}

.peopleCard {
  width: 43.5rem;
  height: 23.4375rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: rgba(23, 26, 31, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.peopleImg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 3.75rem;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.cardText {
  color: #fff;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  width: 20.25rem;
}

.cardName {
  color: #fff;
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  margin-top: 1.13rem;
}

.cardCountry {
  color: #fff;
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem;
  margin-bottom: 3.69rem;
}

.cardButtons {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 36px;
  margin-top: -4%;
}

.buttonLeftPeople,
.buttonRightPeople {
  display: flex;
  width: 5%;
  height: auto;
  padding: 0.65625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 36px;
  border: 1px solid #effdfa;
  background: rgba(0, 0, 0, 0);
}

.buttonLeftPeople {
  margin-right: 16px;
}



/* Estilos del footer */
footer {
  background: #093931;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-evenly;

}

.darlingFooter {
  margin-top: 3rem;
}

.darlingFooter h3 {
  color: #F5D38E;
  font-family: Cormorant Garamond;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.875rem;
}

.darlingFooter p {
  margin-top: 5.81rem;
  margin-bottom: 1.56rem;
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.secondItemsFooter {
  display: flex;
  flex-direction: row;
}

.itemsFooter p,
.itemsFooter2 p {
  margin-top: 0.75rem;
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.itemsFooter {
  margin-right: 100px;
}

.textItemFooter {
  color: #FFF;
  font-family: Cormorant Garamond;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.textItemFooter2 {
  color: #FAFAFB;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}


.subscribe {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.subscribeContent {

  display: inline-flex;
  padding: 0.4375rem 8.25rem 0.375rem 0.75rem;
  align-items: center;
  gap: 0.375rem;
  border-radius: 1.125rem 0rem 0rem 1.125rem;
  border: 1px solid #FFF;
  background: rgba(0, 0, 0, 0.00);
}

.subscribeText {
  color: #FFF;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.buttonSubscribe {
  display: inline-flex;
  padding: 0.4375rem 1.46875rem 0.4375rem 1.53125rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 1.125rem 1.125rem 0rem;
  border: 1px solid #F2C66D;
  background: #F2C66D;
  color: #6B4A09;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.31rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.mediaIcon {
  margin-right: 1rem;
}

.secondItemsFooter a{
  text-decoration: none;
  color: #FFF;
}

.secondItemsFooter a:hover{
  color: #F5D38E;
}

/* Estilos del modal cart */
#btnCart{
  cursor: pointer;
}

.modalCart{
  display: flex;
  justify-content: flex-end;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08080867;
}

.hidden{
  display: none;
}

.show{
  display: flex;
  justify-content: flex-end;
}

.modalCart section{
  width: 50%;
  height: 100%;
  background-color: white;
}

.cartHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}
.cartTitle{
  color: #0D554A;
  font-family: Cormorant Garamond;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.btnExit{
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border: white;
  
}

.btnExit i{
  color: black;
}

.cartFooter{
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.sectionPrice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cartTotal{
  color: #171A1F;
  font-family: Manrope;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.cartButton{
  margin: 5%;
  display: inline-flex;
  padding: 0.5625rem 4.75rem 0.5625rem 4.6875rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.375rem;
  background: #0D554A;
  border:0;
}

.cartButton a{
  text-decoration: none;
  color: white;
}

.cartButton a:hover{
  color:"white"
}

.cartDivisor{
  border-bottom: 1px solid #F3F4F6;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* Media queries */

/*Vista móvil */
@media screen and (max-width: 599px) {
  .listNavbar {
    padding: 9.5px 5.629999999999999px;
  }
  .headerNav {
    flex-direction: column;
  }
  
  .navHeader {
    flex-direction: column;
  }
  /* section */
  .luxurySection {
    margin: 6rem 2rem;
    display: block;
}

.img{
  width: 17rem;
  height: 23.5rem;
}

.heart{
  top: 11.5rem;
  left: 25rem;
}
.headerSectionDiv{
  width: 30rem;
}
.button{
  display: grid;
    margin-right: 9rem;
}
.LuxuryDivList{
   
    margin: 2rem 0 -5rem 2rem;;
}
.dropdownContainer{
  display: none;
}

.squareContainer {
  width: 22rem;
}
.ringSize {
  margin: 0 9rem 0 0;
}

/* Article  */

.articleLuxurydiv{
  width: 100%;
  height: 100%;
  margin-right: 3rem;

}
.articleLuxury{
  margin-left: 3rem;
}
.descriptionArticle{
  margin-right: 16rem;
  font-size: 15px;
  
}
.headerArticle{
  margin-left: 1rem;
  font-size: 30px;
  
}
.infoArticle{
  width: 20rem;
  font-size: 15px;

}
.redRingImg{
  width: 20rem;
  height: 18rem;
}
.iconButtonArticle{
  margin: -12rem 9rem;
}
 

  /* container delivery */

  /* Article  */
  .containerArticle{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 80%;
    height: auto;
  }

  .containerText {
    width: 70%;
  }

  /* From the people  */
  .peopleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

  }

  .peopleInfo {
    width: 80%;
    margin-bottom: 5%;
    margin-left: 15%;
  }

  .peopleTitle {
    max-width: 100%;
    margin-right: 0;
  }

  .peopleText {
    width: 100%;
    margin-right: 0;
  }

  .card {
    width: 80%;
    margin-top: 1%;
    margin-bottom: 10%;
  }

  .peopleCard {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
  }


  .peopleImg {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .cardText {
    width: 90%;
  }

  .cardName {
    margin-top: 1rem;
  }

  .cardCountry {
    margin-bottom: 1rem;
  }

  .cardButtons {
    margin-top: -5%;
  }

  /* Footer  */
  footer {
    background: #093931;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .darlingFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .darlingFooter h3 {
    width: 100%;
  }

  .darlingFooter p {
    margin-top: 3rem;
    margin-bottom: 1.56rem;
    width: 100%;
  }

  .secondItemsFooter {
    width: 100%;
  }

  .itemsFooter p,
  .itemsFooter2 p {
    width: 100%;
  }

  .thirdItemsFooter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    ;
  }

  .subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .subscribeContent {
    width: 70%;
  }

  .subscribeText {
    width: 100%;
  }

  .buttonSubscribe {
    width: 30%;
  }

  .socialMedia {
    width: 100%;
  }




}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .luxurySection {
    margin: 6rem 2rem;
    display: block;
  }

  .img {
    width: 28rem;
    height: 38rem;
  }

  .heart {
    top: 11.5rem;
    left: 37rem;
  }

  .LuxuryDivList {

    margin: 2rem 0 -5rem 2rem;
    ;
  }

  .ringSize {
    margin: 0 2rem 0 0;
  }

  .articleLuxurydiv {
    width: 34rem;
    height: 38rem;
    display: flex;
    background: #FFF;
    box-shadow: 0px 3px 6px 0px rgba(18, 15, 40, 0.12);
    flex-direction: column;
    align-items: center;


  }

  .descriptionArticle {
    margin-right: 23rem;
    font-size: 16px;

  }

  .headerArticle {

    font-size: 30px;

  }

  .infoArticle {
    width: 29rem;
    font-size: 18px;

  }

  .redRingImg {
    width: 30rem;
    height: 20rem;
  }

  .iconButtonArticle {
    margin: -13rem 15rem;
  }

  /* From the people  */
  .peopleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Esto incluirá padding y border en el ancho total */
    padding: 0;
    border: 0;
  }

  .peopleTitle {
    max-width: 70%;
    margin-right: 0;
  }

  .peopleInfo {
    max-width: 100%;
    margin-left: 15%;
    box-sizing: border-box;
    max-width: 100%;
  }

  .peopleText {
    max-width: 100%;
    margin-right: 0;
  }

  .card {
    width: 100%;
    margin-right: 0;
  }

  .peopleCard {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .peopleImg {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .cardInfo {
    width: 100%;
    margin: 3%;
  }

  .cardText {
    width: 100%;
  }

  .cardName {
    margin-top: 2%;
  }

  .cardCountry {
    margin-bottom: 3%;
  }

  /* Footer */
  .darlingFooter {
    margin-right: 10px;
  }

  .itemsFooter,
  .itemsFooter2 {
    margin-right: 10px;
  }

  /* article */
  article {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .containerFirst,
  .containerSecond,
  .containerThird {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
  }

  .delivery,
  .lovemessage,
  .locklandscape {
    width: 90%;
    height: auto;
  }

  .containerText {
    width: 50%;
  }
  .sectionCarousel{
    width: 37rem;
  }
   footer {
    background: #093931;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .darlingFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .darlingFooter h3 {
    width: 100%;
  }

  .darlingFooter p {
    margin-top: 3rem;
    margin-bottom: 1.56rem;
    width: 100%;
  }

  .secondItemsFooter {
    width: 100%;
    gap: 10rem;
  }

  .itemsFooter p,
  .itemsFooter2 p {
    width: 100%;
  }

  .thirdItemsFooter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
    ;
  }

  .subscribe {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .subscribeContent {
    width: 70%;
  }

  .subscribeText {
    width: 100%;
  }

  .buttonSubscribe {
    width: 30%;
  }

  .socialMedia {
    width: 100%;
  }


}