@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Orbitron&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Orbitron&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#093931;
}
.navbar{
    display: flex;
    align-items: center;
}
.container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden; /* Para asegurarse de que el fondo no se extienda más allá del contenedor */
}

.background-vector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('ruta-del-vector.svg') center center/cover no-repeat; /* Ajusta la ruta y las propiedades según tu vector */
}

.image {
    position: relative;
    z-index: 1; /* Asegura que la imagen esté sobre el fondo */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el comportamiento de la imagen para cubrir todo el contenedor */
}

h3{
    color: #F5D38E;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-weight: 400;
    line-height: 46px; 
}
ul{
    display: flex;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px; 
}
li{
    display: flex;
    height: 43px;
    padding: 10.5px 18.63px;
    justify-content: center;
    align-items: center;
}
li a:hover{
    color: #F2C66D;
}

ul li a {
    text-decoration: none;
    color: white;
}
.login{
    margin-right: 1rem;
    margin-left: 1rem;
}

/* main section */

main{
    background-color:#093931;
    display: flex;
    justify-content: space-evenly;
}

.textSectionOne{
margin-top: 170px;
margin-left: 8rem;
width: 537px;
color: #F5D38E;
font-family: Cormorant Garamond;
font-size: 72px;
font-weight: 400;
line-height: 94ºpx; /* 130.556% */

}

button{
border-radius: 26px;
border: 1px solid #FFF;
background: rgba(0, 0, 0, 0.00);
display: inline-flex;
padding: 12px 59px;
justify-content: center;
align-items: center;
color: #FFF;
margin-left: 8rem;
margin-top: 2rem;
}

.imgTwo{
    margin-top: 77px;

}
.necklaceWoman{
    width: 407px;
    height: 543px;
    margin-bottom: 10rem;
   

}
.rings{
    position: relative;
    width: 241px;
    height: 321px;
    top: -210px;
    left: -69px;
    z-index: 1;
}


/* article */

article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
    margin-bottom: 24px;

}

.containerFirst,
.containerSecond,
.containerThird{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.delivery , 
.lovemessage,
.locklandscape{
    width: 62px;
    height: 62px;
    margin-bottom: 18px;

}
h6 {
    color: #171A1F;
    text-align: center;
    font-family: Cormorant Garamond;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

p{
    width: 278px;
    color: #9095A0;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
 } 
